# NumPy

In [ ]:
import numpy as np

### Задание 1

In [ ]:
a = np.array([[1, 2, 3, 3, 1],[6, 8, 11, 10, 7]]).T # так проще копи/пастить из задания :)
a

In [ ]:
mean_a = a.mean(0)
mean_a

### Задание 2

In [ ]:
a_centered = a - mean_a
a_centered

### Задание 3

In [ ]:
a_centered_sp = a_centered[:, 0] @ a_centered[:, 1]
a_centered_sp

In [ ]:
N, _ = a.shape
N

In [ ]:
cov1 = a_centered_sp / (N - 1)
cov1

### Задание 4

In [ ]:
cov2 = np.cov(a.T)[0, 1]
cov2

In [ ]:
cov1 == cov2

# Pandas

### Задание 1

In [ ]:
import pandas as pd

In [ ]:
a = {
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
}

authors = pd.DataFrame(a)
authors

In [ ]:
a = {
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
}

books = pd.DataFrame(a)
books

### Задание 2

In [ ]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')
authors_price

### Задание 3

In [ ]:
top5 = authors_price.sort_values("price", ascending = False).head(5)
top5

### Задание 4

In [ ]:
grp = authors_price.groupby('author_name')

In [ ]:
authors_stat = pd.DataFrame(grp['price'].min())
authors_stat.rename(columns = {'price':'min_price'}, inplace = True)
authors_stat = pd.merge(authors_stat, pd.DataFrame(grp['price'].max()), on='author_name', how='inner')
authors_stat.rename(columns = {'price':'max_price'}, inplace = True)
authors_stat = pd.merge(authors_stat, pd.DataFrame(grp['price'].mean()), on='author_name', how='inner')
authors_stat.rename(columns = {'price':'mean_price'}, inplace = True)
authors_stat

### Задание 5

In [ ]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

In [ ]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'], columns=['cover'], aggfunc=np.sum, fill_value=0)
book_info

In [ ]:
book_info.to_pickle('book_info.pkl')

In [ ]:
book_info2 = pd.read_pickle('book_info.pkl')
book_info == book_info2